# pycache
*.pyc
__pycache__/

# Tools
.mypy_cache
.coverage

# Distribution / packaging
.Python
env/
.*venv/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
